<div id="imgIzq">
        
        <img src="img/logo.jpg" style="margin-left:17px; "/>
        <img src="img/o.png" style="margin-left:20px; margin-top:95%;"/>
       
	
    </div>

	<div id="content" style="left:300px; background-image:url(img/cuadros/amarillo.png); padding:10px; width:1300px;">
          <h1 style=" color:#black; ">Lista de Inscripciones de Estudiantes</h1>

<table border=1 style="font-size:10pt;">
  <tr style="color:#black; ">
    <th>Nombreuniversidad</th>
    <th>Nombreestudiante1</th>
    <th>Matriculaestudiante1</th>
    <th>Email1</th>

    <th>Nombreestudiante2</th>
    <th>Matriculaestudiante2</th>
    <th>Email2</th>

    <th>Nombreesudiante3</th>
    <th>Matriculaestudiante3</th>
    <th>Email3</th>
  </tr>

<% @estudiantes.each do |estudiante| %>
  <tr style="color:black; ">
    <td><%=h estudiante.nombreUniversidad %></td>

    <td><%=h estudiante.nombreEstudiante1 %></td>
    <td><%=h estudiante.matriculaEstudiante1 %></td>
    <td><%=h estudiante.email1 %></td>

    <td><%=h estudiante.nombreEstudiante2 %></td>
    <td><%=h estudiante.matriculaEstudiante2 %></td>
    <td><%=h estudiante.email2 %></td>

    <td><%=h estudiante.nombreEsudiante3 %></td>
    <td><%=h estudiante.matriculaEstudiante3 %></td>
    <td><%=h estudiante.email3 %></td>
    <td><%= link_to 'Mostrar', estudiante, :style => "color:black" %></td>
    <td><%= link_to 'Editar', edit_estudiante_path(estudiante), :style => "color:black" %></td>
    <td><%= link_to 'Eliminar', estudiante, :confirm => 'Seguro?', :method => :delete, :style => "color:black" %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to "Regresar", administracion_path, :style => "color:black"  %></p>

</div>

<div id="imgIzq"> 
        <img src="img/logo.jpg" style="margin-left:17px; "/>
        <img src="img/o.png" style="margin-left:20px; margin-top:95%;"/>
       	
</div>