
  <p>
    <%= f.label :nombreEmpresa %><br />
    <%= f.text_field :nombreEmpresa %>
  </p>
<p>
  <%= f.label "Email de Contacto" %><br />
  <%= f.text_field :email %>
</p>
  <p>
    <%= f.label "Deja tu mensaje a los participantes" %><br />
    <%= f.text_field :mensaje %>
  </p>

<p>
  <%= f.label :logotipo %><br />
	<%= f.file_field :foto %>
</p>